* {
  margin: 0;
  padding: 0;
  border: 0;
}

.nav-bar {
  width: 100%;
}

.container-flex {
  display: flex;
}

.container-block {
  display: block;
  position: relative;
}

.flex-direction-col {
  flex-direction: column;
}

.img-container {
  display: block;
  position: relative;
  width: 500px;
  height: 500px;

  border: 1px solid gainsboro;
  border-radius: 15px;
}

.result-img {
  width: 450px;
  height: 450px;
}

.margin-left-10 {
  margin-left: 10px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-left-40 {
  margin-left: 40px;
}
.margin-left-80 {
  margin-left: 80px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 40px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-top-60 {
  padding-top: 60px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-60 {
  padding-left: 60px;
}
.padding-left-70 {
  padding-left: 70px;
}

.main-margin {
  margin: 0 10%;
}

.btn-size {
  width: 138px;
  height: 40px;
}

.argument-box {
  flex-direction: row;
}

.font-title {
  font-size: 36px;
  font-weight: 48px;
}

.prev-img-gallary {
  display: flex;
  flex-direction: column;
  width: 80px;
}

.prev-img-box {
  cursor: pointer;
  margin-top: 13px;
  border: 1px solid gainsboro;
  border-radius: 20px;
  width: 80px;
  height: 80px;
}

.cancel-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  font-weight: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;

  background-color: red;
  border: 1px solid red;
  width: 15px;
  height: 15px;
}
